../proto/dist/py --global-option="--no-cache-dir" --global-option="--no-binary=acine_proto_dist" --global-option="--editable"
# NOTE: GLOBAL OPTION WILL BREAK DEPENDENCIES BEING INSTALLED!!
# You will need to run this once before you can use requirements.pb.txt to
# update the protobufs (need to install protobuf without these global options)
# pip install --no-cache-dir --no-binary=acine_proto_dist -e ../proto/dist/py
