name: CI Checks

on:
  push:
  pull_request:

jobs:
  unittest:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
      - uses: go-task/setup-task@v1
        with:
          version: "3.x"
      - name: Install dependencies
        run: |
          pip install uv
          npm i -g pnpm
      - name: Build
        run: task build
      - name: Run unit tests
        run: task test
